doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Make pipeline cron job easier and amazing.")
        meta(name="author" content="Sirius")
        link(rel="shortcut icon" href="/assets/images/favicon.ico")
        title ViaFlow
        link(href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        block css
        link(href="/assets/css/icons.css" rel="stylesheet" type="text/css")
        link(href="/assets/css/style.css" rel="stylesheet" type="text/css")
        script(src="/assets/js/modernizr.min.js")
    body.fixed-left
        #wrapper
            .content-page-external
                .content
                    .container-fluid
                        block content
        script.
            var resizefunc = [];
        // jQuery
        script(src="/assets/js/jquery.min.js")
        script(src="/assets/js/popper.min.js")
        // Popper for Bootstrap
        script(src="/assets/js/bootstrap.min.js")
        script(src="/assets/js/detect.js")
        script(src="/assets/js/fastclick.js")
        script(src="/assets/js/jquery.slimscroll.js")
        script(src="/assets/js/jquery.blockUI.js")
        script(src="/assets/js/waves.js")
        script(src="/assets/js/wow.min.js")
        script(src="/assets/js/jquery.nicescroll.js")
        script(src="/assets/js/jquery.scrollTo.min.js")
        script(src="/assets/js/jquery.core.js")
        script(src="/assets/js/jquery.app.js")
        block script