doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Make pipeline cron job easier and amazing.")
        meta(name="author" content="Coderthemes")
        link(rel="shortcut icon" href="/assets/images/favicon.ico")
        title CronFlow - Login
        link(href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        link(href="/assets/css/icons.css" rel="stylesheet" type="text/css")
        link(href="/assets/css/style.css" rel="stylesheet" type="text/css")
        script(src="/assets/js/modernizr.min.js")
    body
        .account-pages
        .clearfix
        .wrapper-page
            .card-box
                .panel-heading
                    h4.text-center
                        | Sign In to 
                        strong.text-custom CronFlow
                .p-20
                    form.form-horizontal.m-t-20(method="post")
                        .form-group
                            .col-12
                                input.form-control(type="text" required="" placeholder="Username" name="username")
                        .form-group
                            .col-12
                                input.form-control(type="password" required="" placeholder="Password" name="password")
                        .form-group
                            .col-12
                                .checkbox.checkbox-primary
                                    input#checkbox-signup(type="checkbox" name="remember")
                                    label(for="checkbox-signup")
                                        | Remember me
                        .form-group.text-center.m-t-40
                            .col-12
                                button.btn.btn-pink.btn-block.text-uppercase.waves-effect.waves-light(type="submit")
                                    | Log In
                        //
                            <div class="form-group m-t-30 m-b-0">
                            <div class="col-12">
                            <a href="page-recoverpw.html" class="text-dark"><i class="fa fa-lock m-r-5"></i> Forgot
                            your password?</a>
                            </div>
                            </div>
            //
                <div class="row">
                <div class="col-sm-12 text-center">
                <p>Don't have an account? <a href="page-register.html" class="text-primary m-l-5"><b>Sign Up</b></a>
                </p>
                </div>
                </div>
        script.
            var resizefunc = [];
        // jQuery
        script(src="/assets/js/jquery.min.js")
        script(src="/assets/js/popper.min.js")
        // Popper for Bootstrap
        script(src="/assets/js/bootstrap.min.js")
        script(src="/assets/js/detect.js")
        script(src="/assets/js/fastclick.js")
        script(src="/assets/js/jquery.slimscroll.js")
        script(src="/assets/js/jquery.blockUI.js")
        script(src="/assets/js/waves.js")
        script(src="/assets/js/wow.min.js")
        script(src="/assets/js/jquery.nicescroll.js")
        script(src="/assets/js/jquery.scrollTo.min.js")
        script(src="/assets/js/jquery.core.js")
        script(src="/assets/js/jquery.app.js")