/* =============
   Nestable
============= */


.custom-dd {
  .dd-list {
    .dd-item {
      .dd-handle {
        padding: 10px;
        height: auto;
        font-weight: 600;
        border-radius: 3px;
        background-color: $light-alt;
        border: 1px solid rgba($muted,0.2);
        border-left-width: 3px;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 15px;
        &:hover {
          color: $custom;
        }
      }
      .handle-any {
        border-left-color: $inverse;
      }
      .handle-success {
        border-left-color: $success;
      }
      .handle-info {
        border-left-color: $info;
      }
      .handle-warning {
        border-left-color: $warning;
      }
      .handle-failure {
        border-left-color: $danger;
      }

      button & [internal="true"] {
        height: auto;
        font-size: 17px;
        margin: 8px auto;
        color: $lightdark5;
        width: 30px;
      }
    }
  }
}

.custom-dd-empty {
  .dd-list {
    .dd3-handle {
      height: auto;
      // width: 36px;

      &:before {
        color: inherit;
        top: 7px;
      }

      &:hover {
        color: $custom;
      }
    }
    .dd3-content {
      height: auto;
      padding: 8px 16px 8px 46px;
      background: $lightdark;
      font-weight: 600;

      &:hover {
        color: $custom;
      }
    }
    button & [internal="true"] {
      width: 30px;
      height: auto;
      font-size: 16px;
      font-weight: 600;
    }
  }
}