extends ../layout
block css
    link(href="/assets/venders/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet")

block content
    .row
        .col-md-6
            .card-box
                h4.m-t-0.m-b-30.header-title Add CronFlow
                form(role="form"  method='post')
                    .form-group
                        label(for="flowName") Flow name
                        input#flowName.form-control(type="text" placeholder="Enter flow name" name="flowName")
                    .tags-default
                        label(for="flowTags") Flow tags
                        .form-group
                            input#flowTags.form-control(type="text" value="cron,active" data-role="tagsinput" placeholder="add tags" name="flowTags")
                            small#emailHelp.form-text.text-muted Press enter to add new tag.
                    .form-group
                        label(for="triggerType") Trigger type
                        select#triggerType.form-control(name="triggerType")
                            option(value="active" selected) Cron表达式触发
                    .form-group
                        label(for="cron") Cron expression
                        input#cron.form-control(type="text" placeholder="cron expression here" name="cron")
                    .form-group
                        label(for="flowTimezone") Cron expression timezone
                        input#flowTimezone.form-control(type="text" placeholder="cron expression timezone" name="flowTimezone" value="Asia/Shanghai" readonly)
                    .form-group
                        label(for="flowDescription") Flow description
                        textarea.form-control(rows="5" name="flowDescription")
                    button.btn.btn-success(type="submit") Create Flow

block script
    script(src="/assets/venders/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js")